.reference {
  padding: 2px 8px;
  border-radius: 8px;
  background-color: rgb(67, 160, 223);
  transition: background-color 0.3s ease;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reference:hover {
  cursor: pointer;
  background-color: rgb(57, 141, 197);
}

.branch {
  background-color: rgb(85, 93, 191);
}

.branch:hover {
  background-color: rgb(71, 79, 170);
}
