.reference {
  padding: 2px 6px;
  border-radius: 8px;
  /* background-color: rgb(67, 160, 223); */
  transition: background-color 0.2s ease;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reference:hover {
  cursor: pointer;
  background-color: rgb(73, 76, 82);
}

commit-tag.reference {
  color: #e9a948;
}
