.prompt {
  .commit-input-container {
    position: sticky;
    z-index: 3;
    top: 0;

    background-color: rgba(58, 58, 58, 0.933);
  }

  .commit-input {
    width: 100%;
    border: 0;

    color: white;
    background-color: rgb(78, 78, 78);
    border-radius: 6px;

    font-size: 12px;
    line-height: 12px;
    min-height: 36px;

    outline: none;
    resize: vertical;
  }
}
