.diff-file {
  margin: 2px 0px;
}

.diff-file .heading .file-info {
  cursor: pointer;
}

.diff-file .heading button {
  margin-right: 10px;
  line-height: 12px;
  border-radius: 12px;
  border: none;
}

.diff-file .content {
  margin: 8px 0;
}
