.commit {
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: default;
}

.commit .top {
  display: flex;
  justify-content: space-between;
}

.commit .bottom {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

.commit .summary {
  width: 500px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.commit .author {
  overflow: hidden;
  text-overflow: ellipsis;

  color: #777;
  font-size: 11px;
}

.commit .hash {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

.commit .date {
  font-size: 11px;

  color: #777;
  font-size: 11px;
}
