.prompt {
  box-sizing: border-box;
  padding: 0px 6px 6px 6px;

  border-radius: 8px;
  /* line-height: 1; */
  background-color: #3a3a3aee;

  margin-top: 6px;
  margin-bottom: 6px;

  h3 {
    display: block;
    padding-left: 4px;
    margin: 0;
    top: 0px;
    padding-top: 6px;
    line-height: 16px;

    position: sticky;
    z-index: 2;
    background-color: #3a3a3aee;
    color: #a7ceff;
  }

  h4 {
    display: block;
    margin: 0;
    padding-left: 4px;
    line-height: 24px;

    position: sticky;
    top: 22px;

    z-index: 1;
    /* line-height: 1; */
    background-color: #3a3a3aee;
  }
}
