.prompt {
  .commit-input {
    position: sticky;
    z-index: 2;
    top: 4px;

    width: calc(100% - 16px);
    padding: 4px 8px;
    border: 0;

    color: white;

    outline: none;
    resize: vertical;
  }
}
