.status-prompt {
  .section {
    margin-top: 16px;
  }
  .section:first-of-type {
    margin-top: 0;
  }

  .commit-input {
    position: sticky;
    z-index: 1;
    top: 0;

    width: 100%;
    padding: 0;
    border: 0;
    /* line-height: 1; */
    background-color: #3a3a3aee;
    color: white;

    outline: none;
    resize: vertical;
  }
}
