.log-label {
  border-radius: 9px;
  padding: 0px 5px;
  color: white;
}

.log-label.branch {
  background-color: #ff9900;
}

.log-label.tag {
  background-color: #ff0000;
}

.log-label.head::before {
  content: '🔨 ';
}

.log-label.branch.head::before {
  content: '🔨 ';
}
