<div class="message-body"></div>
<div>
  <div class="branch-ref"></div>
  <div class="tag-ref"></div>
</div>
<div class="metadata">
  <div class="author">
    <div>
      <span class="name"></span>
      <span class="email"></span>
    </div>
    <div class="datetime"></div>
  </div>
  <div class="committer">
    <div>
      <span class="name"></span>
      <span class="email"></span>
    </div>
    <div class="datetime"></div>
  </div>
  <div>
    <div class="hash"></div>
    <div class="parent-hashes"></div>
  </div>
</div>
<div class="editor-container"></div>
