body {
  margin: 0;
  background-color: rgba(41, 42, 45, 255);
  color: rgba(232, 234, 237, 255);
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}

#graph {
  position: sticky;
  top: 0;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  table-layout: fixed;
}

table,
td {
  border: 0;
  white-space: nowrap;
  table-layout: fixed;

  padding: 0px 4px;
}

table tr {
  line-height: 24px;
}

.commit {
  cursor: default;
}
.commit.selected {
  background-color: #3875af;
  color: white;
}

table .summary {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

table .author {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

table .hash {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  max-width: 80px;
}

/* .command-input {
  position: sticky;
  bottom: 0px;
  width: 100%;
  border: 0;
  background-color: black;
  color: white;
  outline: none;
} */

/* #terminal {
  position: sticky;
} */
